<div materialize>
  <ul *ngIf='connection'>
    <li *ngFor='let message of messages'>
      <div *ngIf='!message.type'>
        {{message.author}}: {{message.message}}
      </div>
      <div *ngIf='message.type'>
        <i>{{message.message}}</i>
      </div>
    </li>
  </ul>
  
  <div class="row" *ngIf='!connection'>
      <div class="input-field col s6">
          <input type="text" class="validate" [ngModel]='currentUrl' #url>
          <label for="name"></label>
        <button class="btn waves-effect waves-light" (click)='setUrl(url.value)'>Anslut</button>
      </div>
  </div>
</div>
