<div *ngIf='name == "No name"'>
    <app-set-name (onNameSet)='setName($event)'></app-set-name> 
</div>
<div *ngIf='name != "No name" && messageService.isConnected()'>
    <div class='row'>
        <div>
            <input type='text' [(ngModel)]='messageToSend' placeholder="Skriv ett meddelande..." (keyup.enter)='sendMessage()'/>
            <a class='btn' (click)='sendMessage()'>Skicka
                    <i class="material-icons right">send</i>
            </a>
        </div>
    </div>
</div>